{% extends 'base.html'%}
{% block content %}
    {% for m in messages%}
        <div class = 'card'>
            <p class = 'card-text'>
                {{m.body}}
            </p>
        </div>
        </br>
    {% endfor %}

{% endblock content%}