<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">

                <meta name="viewport" content="width=device-width, initial-scale=1.0">


{% load staticfiles %}
                <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <title>User Account - Bootstrap Admin</title>


    <link rel='stylesheet' id='main-css-css'  href='{% static 'css/main5152.css' %}' type='text/css' media='all' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">




    <link href='{% static 'css/bootstrap.min.css' %}' rel="stylesheet">

    <link href='{% static 'css/bootstrap-responsive.min.css' %}' rel="stylesheet">


    <link href='{% static 'css/font-awesome.min.cs' %}' rel="stylesheet">

      <link href='{% static 'assets/font-awesome/css/font-awesome.css' %}' rel="stylesheet">

      <link href='{% static 'assets/css/custom-styles.css' %}' rel="stylesheet">


    <link href='{% static 'css/adminia-1.1.css' %}' rel="stylesheet">

    <link href='{% static 'css/adminia-1.1-responsive.css' %}' rel="stylesheet">

     <link href='{% static 'css/plans.css' %}' rel="stylesheet">







  </head>



<body>

                <div class="header-wrapper">
                        <header>
                                <div class="container">


                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href="index-2.html"  title="Knowledge Base Theme">
                                                        <img src="{% static 'images/logo2.png' %}" alt="Knowledge Base Theme">
                                                </a>
                                                <span class="tag-line"></span>
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">

                                                                <li><a href="{% url 'index'%} ">Home</a></li>
                                                                <li><a href="{% url 'questions' %}">Questions</a></li>
																<li><a href="{% url 'topics' %}">Topics</a></li>
                                                                <li><a href="{% url 'users' 1 %}">Users</a></li>
                                                                <li><a href="{% url 'help' %}">Help</a></li>

                                                                <li><a href="{% url 'login' %}">My Account</a></li>
                                                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                                        </ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->
<div id="content">



	<div class="container">



		<div class="row">



			<div class="span3">



				<div class="account-container">



					<div class="account-avatar">

						<img src="{% static 'images/default.png' %}" alt="" class="thumbnail" />

					</div> <!-- /account-avatar -->



					<div class="account-details">



						<span class="account-name">{{user.username}} </span>



						<span class="account-role">User</span>
                        {% if user.my_account == False %}

                        <a href="{% url 'write_message' user.id %}">
  <button type="button" class="btn btn-primary">write message</button>
                        </a>
                        {% endif %}
                    {% if my_account == False %}

                        <a href="{% url 'write_message' user.id %}">
  <button type="button" class="btn btn-primary">write message</button>
                        </a>
                        {% endif %}
                    {% if user.my_account == True %}

                        <a href="{% url 'edit_profile' user.id %}">
  <button type="button" class="btn btn-primary">Edit Profile</button>
                        </a>
                        {% endif %}
                    {% if my_account == True %}

                        <a href="{% url 'edit_profile' user.id %}">
  <button type="button" class="btn btn-primary">Edit Profile</button>
                        </a>
                        {% endif %}






					</div> <!-- /account-details -->



				</div> <!-- /account-container -->



				<hr />



				<ul id="main-nav" class="nav nav-tabs nav-stacked">



					<li>



						<a href="{% url 'user' user.id %}">

							<i class="fa fa-home"></i>  Basic Information
						</a>


					</li>



					<li>

						<a href="{% url 'user_questions' user.id %}">


							<i class="fa fa-question-circle"></i>   Questions

						</a>

					</li>



					<li>

						<a href="{% url 'user_answers' user.id %}">


							<i class="fa fa-reply-all"></i>  Answers

						</a>

					</li>

                <li>

						<a href="{% url 'user_achievements' user.id %}">


							<i class="fa fa-star"></i>   Achievements

						</a>

					</li>


                  {% if user.my_account == True %}
					<li class="">

						<a href="{% url 'inbox'  user.id %}">


							<i class="fa fa-inbox"></i>  Inbox



						</a>

					</li>



					<li>

						<a href="{% url 'user_favorite_questions' user.id %}">


							<i class="fa fa-heart"></i>  Favorite Question

						</a>

					</li>

                      <li>

						<a href="{% url 'followed_users' user.id %}">


							<i class="fa fa-users"></i>  Followed User

						</a>

					</li>



					<li>

						<a href="{% url 'user_topics' user.id %}">


							<i class="fa fa-tags"></i>   Topics

						</a>

					</li>
                      <li>

						<a href="{% url 'user_notifications' user.id %}">


							<i class="fa fa-bell"></i>   Notifications

						</a>

					</li>
                    <li>

						<a href="{% url 'logout'%}">


							<i class="fa fa-sign-out"></i> Log out

						</a>

					</li>
                    {% endif %}
                {% if my_account == True %}
					<li class="">

						<a href="{% url 'inbox' user.id %}">


							<i class="fa fa-inbox"></i>  Inbox



						</a>

					</li>



					<li>

						<a href="{% url 'user_favorite_questions' user.id %}">


							<i class="fa fa-heart"></i>  Favorite Question

						</a>

					</li>

                    <li>

						<a href="{% url 'followed_users' user.id %}">


							<i class="fa fa-users"></i>  Followed User

						</a>

					</li>



					<li>

						<a href="{% url 'user_topics' user.id %}">


							<i class="fa fa-tags"></i>   Topics

						</a>

					</li>
                    <li>

						<a href="{% url 'user_notifications' user.id %}">


							<i class="fa fa-tags"></i>   Notifications

						</a>

					</li>
                    <li>

						<a href="{% url 'logout'%}">


							<i class="fa fa-sign-out"></i> Log out

						</a>

					</li>
                    {% endif %}



				</ul>
				<hr />

				<div class="sidebar-extra">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>

				</div> <!-- .sidebar-extra -->



				<br />



			</div> <!-- /span3 -->

			{% block content %}{% endblock content%}
        </div> <!-- /row -->



	</div> <!-- /container -->



</div> <!-- /content -->





<div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © 2017. All Rights Reserved by Code Query.</a>
                                                        </p>
                                                </div>

                                                <div class="span6">




                                                        <!-- Social Navigation -->
                                                        <ul class="social-nav clearfix">
                                                                <li class="linkedin"><a target="_blank" href="#"></a></li>
                                                                <li class="stumble"><a target="_blank" href="#"></a></li>
                                                                <li class="google"><a target="_blank" href="#"></a></li>
                                                                <li class="deviantart"><a target="_blank" href="#"></a></li>
                                                                <li class="flickr"><a target="_blank" href="#"></a></li>
                                                                <li class="skype"><a target="_blank" href="skype:#?call"></a></li>
                                                                <li class="rss"><a target="_blank" href="#"></a></li>
                                                                <li class="twitter"><a target="_blank" href="#"></a></li>
                                                                <li class="facebook"><a target="_blank" href="#"></a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>

                <!-- script -->
                 {% load staticfiles %}
                <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
                <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
                <script src="{% static 'js/prettyphoto/jquery.prettyPhoto.js' %}"></script>
                <script src="{% static 'js/jflickrfeed.js' %}"></script>
                <script src="{% static 'js/jquery.liveSearch.js' %}"></script>
                <script src="{% static 'js/jquery.form.js' %}"></script>
                <script src="{% static 'js/jquery.validate.min.js' %}"></script>
                <script src="{% static 'js/custom.js' %}"></script>


  </body>

</html>








