{% extends 'base.html'%}
{% block content %}


<!-- start of page content -->
                                        <div class="span8 page-content">

                                                <article class="type-page hentry clearfix">
                                                        <h1 class="post-title">
                                                                Contact
                                                        </h1>
                                                        <hr>
                                                        <p>Can we help you with something? Or would you like to leave some feedback? Simply fill out the forms below. We'd love to hear from you!</p>
                                                </article>


                                                <form id="contact-form" class="row" action="http://inspirythemes.com/templates/knowledgebase-html/contact_form_handler.php" method="post">

                                                        <div class="span2">
                                                                <label for="name">Your Name <span>*</span> </label>
                                                        </div>
                                                        <div class="span6">
                                                                <input type="text" name="name" id="name" class="required input-xlarge" value="" title="* Please provide your name">
                                                        </div>

                                                        <div class="span2">
                                                                <label for="email">Your Email <span>*</span></label>
                                                        </div>
                                                        <div class="span6">
                                                                <input type="text" name="email" id="email" class="email required input-xlarge" value="" title="* Please provide a valid email address">
                                                        </div>

                                                        <div class="span2">
                                                                <label for="reason">Subject </label>
                                                        </div>
                                                        <div class="span6">
                                                                <input type="text" name="reason" id="reason" class="input-xlarge" value="">
                                                        </div>

                                                        <div class="span2">
                                                                <label for="message">Your Message <span>*</span> </label>
                                                        </div>
                                                        <div class="span6">
                                                                <textarea name="message" id="message" class="required span6" rows="6" title="* Please enter your message"></textarea>
                                                        </div>

                                                        <div class="span6 offset2 bm30">
                                                                <input type="submit" name="submit" value="Send Message" class="btn btn-inverse">
                                                            {% load staticfiles %}
                                                                <img src="images/loading.gif" id="contact-loader" alt=" Thank you! We will send you reply within 3 working days! ">
                                                        </div>

                                                        <div class="span6 offset2 error-container"></div>
                                                        <div class="span8 offset2" id="message-sent"></div>

                                                </form>
                                        </div>
                                        <!-- end of page content -->




{% endblock content%}
