{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="span8 page-content">

                                                <article class=" page type-page hentry clearfix">
                                                        <h1 class="post-title">Create your question</h1>
                                                        <hr>

                                                </article>

                                                <div class="faqs clearfix">

                                                     <form action="/create_question/" method="post" class="form">
                                                       {% csrf_token %}
                                                        {% bootstrap_form form %}
                                                         {% buttons %}
                                                      <button type="submit" class="btn btn-primary">
                                                       {% bootstrap_icon "star" %} Post
                                                      </button>
                                                         {% endbuttons %}
                                                     </form>
                                                </div>

                                        </div>

{% endblock %}