{% extends 'base.html'%}
{% block content %}

<div class="span8 page-content">
<h3 class="post-title">

    {% load staticfiles %}

    <img src="{% static 'images/404.png' %}">

</h3>
</div>

{% endblock content %}