{% extends 'baseaccount.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="span9">
				<h1 class="page-title">
					<i class="icon-th-large"></i>

					My Account

				</h1>
				<div class="row">
					<div class="span9">
						<div class="widget">
							<div class="widget-header">

								<h3>Edit Profile</h3>

							</div> <!-- /widget-header -->

							<div class="widget-content">

								<div class="tabbable">
						<br>
							<div class="tab-content">

								<div class="tab-pane active" id="1">

								<form id="edit-profile" class="form-horizontal">

									<fieldset>
										<div class="control-group">

											<label class="control-label" for="username">Username</label>

											<div class="controls">

												<input type="text" class="input-medium disabled" id="username" value="{{user.username}}" disabled>

												<p class="help-block">Your username is for logging in and cannot be changed.</p>

											</div> <!-- /controls -->

										</div> <!-- /control-group -->




										<div class="control-group">

											<label class="control-label" for="email">Email Address</label>

											<div class="controls">

												<input type="text" class="input-large" id="email" value={{user.email}}>

											</div> <!-- /controls -->

										</div> <!-- /control-group -->

                                        <div class="control-group">
                                            <label class="control-label" for="username">Description</label>

											<div class="controls">

                                                <textarea class="span13" name="comment" id="comment" cols="10" rows="10" value="{{user.description}}" ></textarea>


											</div>
                                        </div>

										<br /><br />
										<div class="control-group">

											<label class="control-label" for="password1">Password</label>

											<div class="controls">

												<input type="password" class="input-medium" id="password1" value="{{user.password}}">

											</div> <!-- /controls -->

										</div> <!-- /control-group -->





										<div class="control-group">

											<label class="control-label" for="password2">Confirm</label>

											<div class="controls">

												<input type="password" class="input-medium" id="password2" value="{{user.password}}">

											</div> <!-- /controls -->

										</div> <!-- /control-group -->

											<br />

										<div class="form-actions">

											<button type="submit" class="btn btn-primary">Save</button>

											<button class="btn">Cancel</button>

										</div> <!-- /form-actions -->

									</fieldset>



									</form>

								</div>
							</div>

						</div>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->
					</div> <!-- /span9 -->
				</div> <!-- /row -->
			</div> <!-- /span9 -->

{% endblock %}