{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="span8 page-content">

<div class="container">
  <div class="jumbotron">
    <h1>Edit answer</h1>
    </div>
</div>
<div class="container" style="width:40%">
<form action="{% url 'edit_answer' a_id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Post
    </button>
    {% endbuttons %}
</form>
</div>
    </div>

{% endblock %}