{% extends 'base.html'%}
{% block content %}


                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                                <article class=" page type-page hentry clearfix">
                                                        <h1 class="post-title"><a href="#">Why don't you ask the magic conch?</a></h1>
                                                        <hr>

                                                </article>
                                        <h3 class="post-title">

                                                 {% load staticfiles %}

                                                <img src="{% static 'images/magic.png' %}">

                                                 </h3>


                                                <div class="faqs clearfix">

                                                      {% for h in help_items %}
                                                        <article class="faq-item">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#">{{h.description}}</a>
                                                                </h3>
                                                                <div class="faq-answer">
                                                                        <p>{{h.body}}</p>

                                                                </div>
                                                        </article>

                                                         {% endfor %}
                                                </div>

                                        </div>
                                        <!-- end of page content -->



{% endblock content%}