{% extends 'baseaccount.html' %}
{% load bootstrap3 %}

{% block content %}

{% load staticfiles %}

    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" >

<div class="span9">
				<h1 class="page-title">

					<i class="icon-th-large"></i>

					My Account


				</h1>
				<div class="row">
					<div class="span9">
                    <div class="widget-header">

								<h3>My messages</h3>

							</div>
<div class="widget-content">

<div class="col-md-6 col-sm-6">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="{% url 'inbox' user.id %}" data-toggle="tab">Received messages</a>
                                </li>
                                <li><a href="{% url 'sent_messages' user.id %}" data-toggle="tab">Message Sent</a>
                                </li>
                                <li><a href="{% url 'deleted_messages' user.id %}" data-toggle="tab">Deleted Messages</a>
                                </li>
                            </ul>




                               <div class="widget-content">

                               <div class="row separator">
                                    {% for m in messages %}
                                                        <section class="span8 articles-list">



                                                                                        <h5 class="author">
                                                                                                <cite class="fn">
                                                                                                      <i class="fa fa-user"></i> From {{m.recipient_name}}
                                                                                                </cite>

                                                                                        </h5>

                                                                                        <p class="date">
                                                                                                <a href="#">
                                                                                                        <i class="fa fa-calendar"></i> <time datetime="2013-02-26T13:18:47+00:00">February 26, 2013 at 1:18 pm</time>
                                                                                                </a>
                                                                                        </p>

                                                                                <div class="comment-body">
                                                                                         <p>{{ m.body }} <a class="readmore-link" href="{% url 'delete_message' m.id %}"><i class="fa fa-trash"></i></a></p>
                                                                                </div><!-- end of comment-body -->
                                                            
                                                        <hr>



                                                        </section>

                                    {% endfor %}

                               </div>




                                </div>
</div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
</div>










{% endblock %}
