{% extends 'base.html'%}
{% block content %}


                <!-- Start of Page Container -->


                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                                <!-- Basic Home Page Template -->


                                                <div class="row separator">
                                                        <section class="span8 articles-list">
                                                                <h3>Featured Questions</h3>
                                                             {% for q in questions %}
                                                                <ul class="articles">
                                                                        <li class="article-entry standard">
                                                                                <h4><a href="{% url 'question_thread'  q.id %}">{{q.title}}</a></h4>
                                                                                <span class="article-meta">{{q.date_posted}}<a href="#" title="View all posts in Server &amp; Database"> in {{q.topic}}</a></span>
                                                                                <span class="like-count">{{q.upVotes}}</span>
                                                                        </li>


                                                                </ul>
                                                             {% endfor %}

                                                        </section>



                                                </div>
                                        </div>
                                        <!-- end of page content -->


                <!-- End of Page Container -->
{% endblock content%}



