{% extends 'questions_base.html'%}
{% block content %}



                                        <!-- start of page content -->
                                        <div class="span8 main-listing">
                                                        <h1 class="post-title">Questions</h1>

                                            {% for q in questions %}

                                                <article class="format-standard type-post hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="{% url 'question_thread'  q.id %}">{{q.title}}</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">{{q.date_posted}}</span>
                                                                        <span class="category"><a href="#" title="View all posts in Server &amp; Database">{{q.topic}}</a></span>
                                                                        <span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">{{q.num_answers}} Answers</a></span>
                                                                        <span class="like-count">{{q.upVotes}}</span>
                                                                </div><!-- end of post meta -->

                                                        </header>

                                                        <p>{{q.body}}....<a class="readmore-link" href="{% url 'question_thread'  q.id %}">Read more</a></p>

                                                </article>
                                            {% endfor %}



                                                <div id="pagination">
                                                        <a href="#" class="btn active">1</a>
                                                        <a href="#" class="btn">2</a>
                                                        <a href="#" class="btn">3</a>
                                                        <a href="#" class="btn">Next »</a>
                                                        <a href="#" class="btn">Last »</a>
                                                </div>

                                        </div>
                                        <!-- end of page content -->


{% endblock content%}