{% extends 'questions_base.html'%}
{% load bootstrap3 %}
{% block content %}
<!-- start of page content -->
                                        <div class="span8 page-content">

                                                <ul class="breadcrumb">

                                                        <li><a href="#" title="View all posts in Server &amp; Database">{{question.topic}}</a> <span class="divider">/</span></li>
                                                        <li class="active">{{question.title}}</li>
                                                </ul>

                                                <article class=" type-post format-standard hentry clearfix">

                                                        <h1 class="post-title"><a href="#">{{question.title}}</a></h1>


                                                        <div class="post-meta clearfix">
                                                                <span class="date">{{question.date_posted}}</span>
                                                                <span class="category"><a href="#" title="View all posts in Server &amp; Database">{{question.topic}}</a></span>
                                                                <span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">{{question.num_answers}} Answers</a></span>
                                                                <span class="like-count">{{question.upVotes}}</span>
                                                        </div><!-- end of post meta -->

                                                        <p>{{question.body}} <a class="readmore-link" href="{% url 'edit_question'  question.id %}">  <i class="fa fa-pencil">Edit</i></a></p>


                                                </article>

                                                <div class="like-btn">

                                                        <form id="like-it-form"  method="post">
                                                        {% csrf_token %}
                                                                <a href="{% url 'vote_on_post' question.id 'q' 'up_vote' %}"><span class="like-it ">{{question.upVotes}}</span></a>
                                                                <input type="hidden" name="post_id" value="99">
                                                                <input type="hidden" name="action" value="like_it">
                                                            {% if question.follows %}
                                                             <button class="btn-default" onclick="add_fav(this)" id="fav_button" value="Today" style="height: 40px; width: 150px; background-color: #85e085; float: right;">Added to My Favorites</button></h1>
                                                            {% else %}
                                                             <button class="btn-default" onclick="add_fav(this)" id="fav_button" value="Today" style="height: 40px; width: 150px; background-color: #f2f2f2; float: right;">Add to My Favorites</button></h1>
                                                            {% endif %}
                                                        </form>





                                                </div>

                                                <section id="comments">

                                                        <h3 id="comments-title">{{question.num_answers}} Answers</h3>

                                                        <ol class="commentlist">

                                                                <li class="comment even thread-even depth-1" id="li-comment-2">
                                                                    {% for a in question.answers %}

                                                                        <article id="comment-2">
                                                                        <a href="#">
                                                                            <img alt="" src="http://0.gravatar.com/avatar/2df5eab0988aa5ff219476b1d27df755?s=60&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G" class="avatar avatar-60 photo" height="60" width="60">
                                                                        </a>



                                                                                <div class="comment-meta">

                                                                                        <h5 class="author">
                                                                                                <cite class="fn">
                                                                                                        <a href="#" rel="external nofollow" class="url">{{a.user_name}}</a>
                                                                                                </cite>
                                                                                                - <a class="comment-reply-link" href="#">Reply</a>
                                                                                        </h5>

                                                                                        <p class="date">
                                                                                                <a href="#">
                                                                                                        <time datetime="2013-02-26T13:18:47+00:00">{{a.date_posted}}</time>
                                                                                                </a>
                                                                                        </p>

                                                                                </div><!-- end .comment-meta -->

                                                                                <div class="comment-body">
                                                                                    <p>{{a.body}} <a class="readmore-link" href="{% url 'edit_answer'  a.id %}">  <i class="fa fa-pencil">Edit</i></a></p>

                                                                                </div><!-- end of comment-body -->

                                                                        </article><!-- end of comment -->
                                                                    {% endfor %}

                                                                        <ul class="children">

                                                                                <li class="comment byuser comment-author-saqib-sarwar bypostauthor odd alt depth-2" id="li-comment-3">
                                                                                    {% for qc in question.question_comments %}
                                                                                        <article id="comment-3">

                                                                                                <a href="#">
                                                                                                        <img alt="" src="http://0.gravatar.com/avatar/2df5eab0988aa5ff219476b1d27df755?s=60&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G" class="avatar avatar-60 photo" height="60" width="60">
                                                                                                </a>

                                                                                                <div class="comment-meta">

                                                                                                        <h5 class="author">
                                                                                                                <cite class="fn">{{qc.user_name}}</cite>
                                                                                                                - <a class="comment-reply-link" href="#">Reply</a>
                                                                                                        </h5>

                                                                                                        <p class="date">
                                                                                                                <a href="#">
                                                                                                                        <time datetime="2013-02-26T13:20:14+00:00">{{qc.date_posted}}</time>
                                                                                                                </a>
                                                                                                        </p>

                                                                                                </div><!-- end .comment-meta -->

                                                                                                <div class="comment-body">
                                                                                                        <p> {{qc.body}}</p>
                                                                                                </div><!-- end of comment-body -->

                                                                                        </article><!-- end of comment -->
                                                                                    {% endfor %}

                                                                                </li>
                                                                        </ul>
                                                                </li>




                                                        <div id="respond">

                                                                <h3>Your Answer</h3>

                                                                <div class="cancel-comment-reply">
                                                                        <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Click here to cancel reply.</a>
                                                                </div>


                                                                <form action="/create_answer_2/{{ question.id }}" method="post" id="commentform">
                                                                    {% csrf_token %}


                                                                        <p class="comment-notes">What's your opinion?</p>
                                                                    {% csrf_token %}



                                                                        <div>

                                                                               <!-- <textarea class="span8" name="comment" id="comment" cols="58" rows="10"></textarea>-->
                                                                                {{question.form}}
                                                                        </div>


                                                                        <div>
                                                                                <input class="btn" name="submit" type="submit" id="submit"  value="Post Answer">
                                                                        </div>

                                                                </form>

                                                        </div>
                                                        </ol>

                                                </section><!-- end of comments -->

                                        </div>
                                        <!-- end of page content -->

           <script type="text/javascript">

    function add_fav($this){
        var lab = $("#fav_button").text();
        event.preventDefault()
        $.ajax({
            url: "/favorite_question/{{ question.id }}",
            success: function(json){
                if(lab == "Added to My Favorites"){
                    $("#fav_button").html("Add to My Favorites");
                    $("#fav_button").css("background-color", " #f2f2f2");
                }
                else{
                     $("#fav_button").html("Added to My Favorites");
                     $("#fav_button").css("background-color", "#85e085");

                }
            }
        })
    }
    </script>


{% endblock content %}
