{% extends 'reset-password_base.html' %}

{% block content %}
  <h3>Forgot password</h3>
    <p>Forgotten your password? Enter you email address below, and we'll email instructions for setting a new one</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}