<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
    <head>

                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <title>Code Query Index</title>
                {% load staticfiles %}

                <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">



                <!-- Style Sheet-->
                <link rel="stylesheet" href="{% static 'style.css' %}">
                <link rel='stylesheet' id='bootstrap-css-css'  href='{% static 'css/bootstrap5152.css' %}' type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href='{% static 'css/responsive5152.css' %}' type='text/css' media='all' />
                <link rel='stylesheet' id='pretty-photo-css-css'  href='{% static 'js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' %}' type='text/css' media='all' />
                <link rel='stylesheet' id='main-css-css'  href='{% static 'css/main5152.css' %}' type='text/css' media='all' />
                <link rel='stylesheet' id='custom-css-css'  href='{% static 'css/custom5152.html' %}' type='text/css' media='all' />




    </head>
    <body>

         <div class="header-wrapper">
                        <header>
                                <div class="container">


                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href=""  title="Knowledge Base Theme">
                                                        <img src="{% static 'images/logo2.png' %}" alt="Knowledge Base Theme">
                                                </a>
                                                <span class="tag-line"></span>
                                        </div>

                                </div>
                        </header>
                </div>
                <!-- End of Header -->

 <div class="page-container">
                        <div class="container">
                                <div class="row">

          {% block content %}{% endblock content%}
                                </div>
                        </div>
 </div>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>

                <!-- script -->
                 {% load staticfiles %}
                <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
                <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
                <script src="{% static 'js/prettyphoto/jquery.prettyPhoto.js' %}"></script>
                <script src="{% static 'js/jflickrfeed.js' %}"></script>
                <script src="{% static 'js/jquery.liveSearch.js' %}"></script>
                <script src="{% static 'js/jquery.form.js' %}"></script>
                <script src="{% static 'js/jquery.validate.min.js' %}"></script>
                <script src="{% static 'js/custom.js' %}"></script>


<!-- scripts block for js code-->

    </body>
</html>








