{% extends 'questions_base.html'%}
{% block content %}

    <!-- start of page content -->
    <div class="span8 page-content">
        <!-- Basic Home Page Template -->
        <div class="row separator">
            <section class="span13 articles-list">
            {% if questions.count > 0 %}
                <h1 class="post-title">Questions<h2>Search Results</h2></h1>

                {% for q in questions%}
                    <ul class="articles">
                    <li class="article-entry standard">
                        <h3 class="post-title">
                            <a href="{% url 'question_thread'  q.object.id %}">{{q.object.question_title}}</a>
                        </h3>
                        <span class="date">{{q.object.question_date_posted}}</span>
                        <span class="category"><a href="#" title="View all posts in Server &amp; Database">{{q.object.question_topic}}</a></span>
                        <span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">{{q.object.question_num_answers}} Answers</a></span>
                        <span class="like-count">{{q.object.question_upVotes}}</span>
                    </li>
                    </ul>
                {% endfor %}
            {% else %}
<h3 class="post-title">

                                                 {% load staticfiles %}

                                                <img src="{% static 'images/no result.png' %}">

                                                 </h3>
            {% endif %}
            </section>
        </div>
    </div>
{% endblock content%}