{% extends 'topics_base.html' %}
{%block content%}
<!-- start of page content -->
                                        <div class="span8 page-content">
                                        
                                        {% if topic.follows %}
                                                <article >
                                                        <h1 class="post-title">{{topic.name}}  <button class="btn-default" onclick="add_fav(this)" id="fav_button" value="Today" style="float: right; height: 40px; width: 150px; background-color: #85e085">Added</button></h1>
                                                        <hr>
                                                        <p>{{topic.description}}</p>
                                                </article>
                                        {% else %}
                                                <article >
                                                        <h1 class="post-title">{{topic.name}}  <button class="btn-default" onclick="add_fav(this)" id="fav_button" value="Today" style="float: right; height: 40px; width: 150px; background-color: #f2f2f2">Add to My Topics</button></h1>
                                                        <hr>
                                                        <p>{{topic.description}}</p>
                                                </article>

                                        {% endif %}



												<!-- start of page content -->


                                                {% for q in topic.questions %}

                                                <article class="format-standard type-post hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="{% url 'question_thread'  q.id %}">{{q.title}}</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">{{q.date_posted}}</span>
                                                                        <span class="category"><a href="#" title="View all posts in Server &amp; Database">{{q.topic}}</a></span>
                                                                        <span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">{{q.num_answers}} Answers</a></span>
                                                                        <span class="like-count">{{q.upVotes}}</span>
                                                                </div><!-- end of post meta -->

                                                        </header>

                                                        <p>{{q.body}}...<a class="readmore-link" href="http://knowledgebase.inspirythemes.com/integrating-wordpress-with-your-website/">Read more</a></p>

                                                </article>
                                            {% endfor %}



                                                <div id="pagination">
                                                        <a href="#" class="btn active">1</a>
                                                        <a href="#" class="btn">2</a>
                                                        <a href="#" class="btn">3</a>
                                                        <a href="#" class="btn">Next</a>
                                                        <a href="#" class="btn">Last</a>
                                                </div>
                                        </div>

        <script type="text/javascript">

    function add_fav($this){
        var lab = $("#fav_button").text();
        $.ajax({
            url: "/follow_topic/{{ topic.id }}",
            success: function(json){
                if(lab == "Added"){
                    $("#fav_button").html("Add to My Topics");
                    $("#fav_button").css("background-color", " #f2f2f2");
                }
                else{
                     $("#fav_button").html("Added");
                     $("#fav_button").css("background-color", "#85e085");

                }
            }
        })
    }
    </script>


                                        <!-- end of page content -->
{% endblock content%}