{% extends 'topics_base.html'%}
{% block content %}



                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                                <!-- Basic Home Page Template -->
                                                <div class="row separator">
                                                        <section class="span13 articles-list">
                                                                <h1 class="post-title">Topics</h1>
                                                            {% for t in topics%}
                                                                <ul class="articles">
                                                                        <li class="article-entry standard">
                                                                                <h3><a href="{% url 'topic' t.id%}">{{t.name}}</a></h3>
                                                                                <span class="article-meta">{{t.description}}</span>
                                                                                <span class="question-count">{{t.num_questions}}</span>
                                                                        </li>

                                                                </ul>

                                                            {% endfor %}
                                                        </section>


                                                </div>
                                        </div>



{% endblock content%}


