{% extends 'topics_base.html'%}
{% block content %}

    <!-- start of page content -->
    <div class="span8 page-content">
        <!-- Basic Home Page Template -->
        <div class="row separator">
            <section class="span13 articles-list">
            {% if topics.count > 0 %}
                <h1 class="post-title">Topics<h2>Search Results</h2></h1>

                {% for t in topics%}
                    <ul class="articles">
                        <li class="article-entry standard">
                            <h4><a href="{% url 'follow_topic' t.object.id %}">{{t.object.topic_name}}</a></h4>
                            <span class="article-meta">{{t.object.topic_description}}</span>
                            <span class="question-count">{{t.object.topic_num_questions}}</span>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
<h3 class="post-title">

                                                 {% load staticfiles %}

                                                <img src="{% static 'images/no result.png' %}">

                                                 </h3>
            {% endif %}
            </section>
        </div>
    </div>
{% endblock content%}

