{% extends 'baseaccount.html' %}
{% load bootstrap3 %}

{% block content %}


<div class="span9">
				<h1 class="page-title">
					<i class="icon-th-large"></i>

                    Account Information

				</h1>
				<div class="row">
					<div class="span9">
						<div class="widget">
							<div class="widget-header">

								<h3>Achievement</h3>

							</div> <!-- /widget-header -->

							<div class="widget-content">

								<div class="tabbable">
							<div class="tab-content">

								<div class="tab-pane active" id="1">

								<form id="edit-profile" class="form-horizontal">

									<fieldset>
                                        {% for a in achievements %}
                                    <ul class="articles">
                                        <li class="article-entry standard">
                                            <h4><a href="topic-python.html">{{a.name}}</a></h4>
                                            <span class="article-meta">{{a.description}} </span>

                                        </li>


                                    </ul>
                                        {% endfor %}
									</fieldset>

								</form>

								</div>


							</div>

						</div>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->
					</div> <!-- /span9 -->
				</div> <!-- /row -->
			</div> <!-- /span9 -->

{% endblock %}
