{% extends 'baseaccount.html' %}
{% load bootstrap3 %}

{% block content %}


<div class="span9">
				<h1 class="page-title">
					<i class="icon-th-large"></i>

					Account Information

				</h1>
				<div class="row">
					<div class="span9">
						<div class="widget">
							<div class="widget-header">

								<h3>Answers </h3>

							</div> <!-- /widget-header -->

							<div class="widget-content">

								<div class="tabbable">
							<div class="tab-content">

								<div class="tab-pane active" id="1">

								<form id="edit-profile" class="form-horizontal">

									<fieldset>
                                        {% for a in answers%}
                                    <article class="format-standard type-post hentry clearfix">

                                        <header class="clearfix">

                                            <h3 class="post-title">
                                                <a href="{% url 'question_thread'  a.q_id %}">{{a.q_title}}</a>
                                            </h3>

                                            <p> {{a.body}}...<a class="readmore-link" href="{% url 'question_thread'  a.q_id %}">Read more</a></p>

                                        </header>


                                    </article>
                                        {% endfor %}
									</fieldset>

								</form>

								</div>


							</div>

						</div>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->
					</div> <!-- /span9 -->
				</div> <!-- /row -->
			</div> <!-- /span9 -->

{% endblock %}
