{% extends 'users_base.html' %}
{%block content%}

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                                <!-- Basic Home Page Template -->
                                                <div class="row separator">
                                                        <section class="span13 articles-list">
                                                        {% if users.count > 0 %}
                                                                <h1 class="post-title"><a href="#">Users<h2>Search Results</h2></a></h1>

                                                             {% for u in users %}
                                                                <ul class="articles">

                                                                        <li class="article-entry user">
                                                                                <h4><a href="single.html">{{u.object.user.username}}</a></h4>
                                                                                <span class="article-meta">Description: <a href="#" title="View all posts in Server &amp; Database">{{u.object.user_description}}</a></span>
                                                                                <span class="like-count">{{u.object.reppoints}}</span>
                                                                        </li>

                                                                </ul>
                                                             {% endfor %}
                                                        {% else %}
<h3 class="post-title">

                                                 {% load staticfiles %}

                                                <img src="{% static 'images/no result.png' %}">

                                                 </h3>
                                                        {% endif %}
                                                        </section>



                                                </div>

                                        <!-- end of page content -->
{#                                               <div id="pagination">#}
{#                                                        <a href="#" class="btn active">1</a>#}
{#                                                        <a href="#" class="btn">2</a>#}
{#                                                        <a href="#" class="btn">3</a>#}
{#                                                        <a href="#" class="btn">Next »</a>#}
{#                                                        <a href="#" class="btn">Last »</a>#}
{#                                                </div>#}
                                        </div>



{% endblock content%}