{% extends 'baseaccount.html' %}
{% load bootstrap3 %}

{% block content %}


<div class="span9">
				<h1 class="page-title">
					<i class="icon-th-large"></i>

					Account Information

				</h1>
				<div class="row">
					<div class="span9">
						<div class="widget">
							<div class="widget-header">

								<h3>Questions </h3>

							</div> <!-- /widget-header -->

							<div class="widget-content">

								<div class="tabbable">
							<div class="tab-content">

								<div class="tab-pane active" id="1">

								<form id="edit-profile" class="form-horizontal">

									<fieldset>
                                    {% for q in questions %}
                                    <article class="format-standard type-post hentry clearfix">

                                        <header class="clearfix">

                                            <h3 class="post-title">
                                                <a href="{% url 'question_thread'  q.id %}">{{ q.title }}</a>
                                            </h3>

                                            <div class="post-meta clearfix">
                                                <span class="date">{{ q.date_posted }}</span>
                                                <span class="category"><a href="#" title="View all posts in Server &amp; Database">{{ q.topic_name }}</a></span>
                                                <span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">{{ q.num_answers }} Answers</a></span>
                                                <span class="like-count">{{ q.upVotes }}</span>
                                            </div><!-- end of post meta -->

                                        </header>


                                    </article>
                                        {% endfor %}


                                    </article>
									</fieldset>

								</form>

								</div>


							</div>

						</div>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->
					</div> <!-- /span9 -->
				</div> <!-- /row -->
			</div> <!-- /span9 -->

{% endblock %}
