{% extends 'baseaccount.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="span9">
<h1 class="page-title">

					<i class="icon-th-large"></i>

                    Account Information

				</h1>

				<div class="row">
					<div class="span9">
						<div class="widget">
							<div class="widget-header">

								<h3>Basic Information </h3>

							</div> <!-- /widget-header -->

							<div class="widget-content">

								<div class="tabbable">
						<br>
							<div class="tab-content">

								<div class="tab-pane active" id="1">

								<form id="edit-profile" class="form-horizontal">

									<fieldset>
										<div class="control-group">

											<label class="control-label" for="username">Username</label>

											<div class="controls">

												<input type="text" class="input-medium disabled" id="username" value="{{user.username}}" disabled>


											</div> <!-- /controls -->
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="username">Member Since</label>

											<div class="controls">

												<input type="text" class="input-medium disabled" id="username" value="{{user.member_since}}" disabled>


											</div>
                                        </div>
                                    <div class="control-group">
                                            <label class="control-label" for="username">Reputation Points</label>

											<div class="controls">

												<input type="text" class="input-medium disabled" id="username" value="{{user.reputation}}" disabled>


											</div>
                                        </div>
                                        {% if my_account == True %}
                                        <div class="control-group">
                                            <label class="control-label" for="username">Email Address</label>

											<div class="controls">

												<input type="text" class="input-medium disabled" id="username" value="{{user.email}}" disabled>


											</div>
                                        </div>
                                            <div class="control-group">
                                            <label class="control-label" for="username">Description</label>

											<div class="controls">

                                                <textarea class="span13" name="comment" id="comment" cols="10" rows="10" value="{{user.description}}" disabled></textarea>


											</div>
                                        </div>
                                        {% endif %}











									</fieldset>

								</form>

								</div>


							</div>

						</div>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->
					</div> <!-- /span9 -->
				</div> <!-- /row -->
			</div> <!-- /span9 -->

{% endblock %}