<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
    <head>

                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <title>Code Query Index</title>
                {% load staticfiles %}

                <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">



                <!-- Style Sheet-->
                <link rel="stylesheet" href="{% static 'style.css' %}">
                <link href='{% static 'assets/font-awesome/css/font-awesome.css' %}' rel="stylesheet">
                <link rel='stylesheet' id='bootstrap-css-css'  href='{% static 'css/bootstrap5152.css' %}' type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href='{% static 'css/responsive5152.css' %}' type='text/css' media='all' />
                <link rel='stylesheet' id='pretty-photo-css-css'  href='{% static 'js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' %}' type='text/css' media='all' />
                <link rel='stylesheet' id='main-css-css'  href='{% static 'css/main5153.css' %}' type='text/css' media='all' />
                <link rel='stylesheet' id='custom-css-css'  href='{% static 'css/custom5152.html' %}' type='text/css' media='all' />




    </head>
    <body>

         <div class="header-wrapper">
                        <header>
                                <div class="container">


                                        <div class="logo-container">
                                                <!-- Website Logo -->
                                                <a href=""  title="Knowledge Base Theme">
                                                        <img src="{% static 'images/logo2.png' %}" alt="Knowledge Base Theme">
                                                </a>
                                                <span class="tag-line"></span>
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li><a href="{% url 'index'%} ">Home</a></li>
                                                                <li><a href="{% url 'questions' %}">Questions</a></li>
																<li><a href="{% url 'topics' %}">Topics</a></li>
                                                                <li><a href="{% url 'users' 1 %}">Users</a></li>
                                                                <li><a href="{% url 'help' %}">Help</a></li>

                                                                <li><a href="{% url 'user' user.id%}">My Account</a></li>
                                                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                                        </ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->

                <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">

                              <form id="search-form" class="search-form clearfix" method="post" action="{% url 'search_users' %}" autocomplete="off">
                                        {% csrf_token %}
                                        <input class="search-term required" type="text" id="s" name="s" placeholder="Search for users here" title="* Please enter a search term!" />
                                        <input class="search-btn" type="submit" value="Search" />
                                        <div id="search-error-container"></div>
                                </form>
                        </div>
                </div>
                <!-- End of Search Wrapper -->
 <div class="page-container">
                        <div class="container">
                                <div class="row">

          {% block content %}{% endblock content%}

         <aside class="span4 page-sidebar">


                                                <section class="widget">
                                                        <div class="support-widget">

                                                                <a href="{% url 'create-question' %}"><h3 class="title">Ask Question</h3></a>

                                                                <p class="intro">Need more support? If you did not found an answer, click Ask Question above!</p>
                                                        </div>
                                                </section>

                                                <section class="widget">
                                                        <div class="quick-links-widget">
                                                                <h3 class="title">Quick Links</h3>

                                                                <ul id="menu-quick-links" class="menu clearfix">
                                                                        <li><a href="{% url 'index'%}">Home</a></li>
                                                                        <li><a href={% url 'questions'%}>Questions List</a></li>
                                                                        <li><a href={% url 'topics'%}>Topics</a></li>
                                                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                                                </ul>
                                                        </div>
                                                </section>



                                        </aside>
                                </div>
                        </div>
 </div>
<!-- put footer here later-->
         <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright © 2017. All Rights Reserved by Code Query.</a>
                                                        </p>
                                                </div>

                                                <div class="span6">




                                                        <!-- Social Navigation -->
                                                        <ul class="social-nav clearfix">
                                                                <li class="linkedin"><a target="_blank" href="#"></a></li>
                                                                <li class="stumble"><a target="_blank" href="#"></a></li>
                                                                <li class="google"><a target="_blank" href="#"></a></li>
                                                                <li class="deviantart"><a target="_blank" href="#"></a></li>
                                                                <li class="flickr"><a target="_blank" href="#"></a></li>
                                                                <li class="skype"><a target="_blank" href="skype:#?call"></a></li>
                                                                <li class="rss"><a target="_blank" href="#"></a></li>
                                                                <li class="twitter"><a target="_blank" href="#"></a></li>
                                                                <li class="facebook"><a target="_blank" href="#"></a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>

                <!-- script -->
                 {% load staticfiles %}
                <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
                <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
                <script src="{% static 'js/prettyphoto/jquery.prettyPhoto.js' %}"></script>
                <script src="{% static 'js/jflickrfeed.js' %}"></script>
                <script src="{% static 'js/jquery.liveSearch.js' %}"></script>
                <script src="{% static 'js/jquery.form.js' %}"></script>
                <script src="{% static 'js/jquery.validate.min.js' %}"></script>
                <script src="{% static 'js/custom.js' %}"></script>


<!-- scripts block for js code-->

    </body>
</html>








