{% extends 'users_base.html' %}
{%block content%}

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                                <!-- Basic Home Page Template -->
                                                <div class="row separator">
                                                        <section class="span13 articles-list">
                                                                <h1 class="post-title"><a href="#">Users</a></h1>
                                                             {% for u in users%}
                                                                <ul class="articles">

                                                                        <li class="article-entry user">
                                                                                <h4><a href="{% url 'user' u.id%}">{{u.user_name}}</a></h4>
                                                                                <span class="article-meta">Description: <a href="#" title="View all posts in Server &amp; Database">{{u.description}}</a></span>
                                                                                <span class="like-count">{{u.reputation}}</span>

{#                                                                             <a href="{% url 'follow_user' u.id %}">#}
                                                                        {% if u.my_account %}
                                                                            <button type="button" class="btn btn-primary" id="fav_button" onclick="add_fav(this, {{ u.id }})" style="background: none; color: grey; background-color: #2C3E50;">Your Account</button>
                                                                            {% else %}
                                                                            {% if u.following %}
                                                                            <button type="button" class="btn btn-primary" id="fav_button" onclick="add_fav(this, {{ u.id }})">UnFollow</button>
                                                                            {% else %}
                                                                            <button type="button" class="btn btn-primary" id="fav_button" onclick="add_fav(this, {{ u.id }})">Follow</button>
                                                                            {% endif %}
                                                                        {% endif %}
{#                                                                             </a>#}
                                                                        </li>

                                                                </ul>
                                                             {% endfor %}
                                                        </section>



                                                </div>

                                        <!-- end of page content -->
                                               <div id="pagination">
                                                        <a href="{% url 'users' 1 %}" class="btn active">1</a>
                                                        <a href="{% url 'users' 2 %}" class="btn">2</a>
                                                        <a href="{% url 'users' 3 %}" class="btn">3</a>
                                                        <a href="{% url 'users' prev_page %}" class="btn">Next »</a>
                                                        <a href="{% url 'users' next_page %}" class="btn">Last »</a>
                                                </div>
                                        </div>
    <script type="text/javascript">
       function add_fav($this, id){
        var lab = $($this).text();
        console.log(lab)
        event.preventDefault()
        $.ajax({
            url: "/follow_user/"+id,
            success: function(json){
                if(lab == "Follow"){
                    $($this).html("UnFollow");
                }
                else{
                     $($this).html("Follow");

                }
            }
        })
    }
    </script>



{% endblock content%}