{% extends 'baseaccount.html' %}
{% block content %}
    <div class="span9">
				<h1 class="page-title">
					<i class="icon-th-large"></i>

					My Account

				</h1>
				<div class="row">
					<div class="span9">
						<div class="widget">
							<div class="widget-header">

								<h3>Sent message</h3>

							</div> <!-- /widget-header -->

							<div class="widget-content">

								<div class="tabbable">
							<div class="tab-content">

								<div class="tab-pane active" id="1">
                                    <form action="/write_message/{{user_id}}" method ="post">
                                     {% csrf_token %}
                                        {{form}}
                                        <br><br>
                                         <button type="submit" class="btn btn-primary">Send</button>
                                    </form>



								</div>


							</div>

						</div>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->
					</div> <!-- /span9 -->
				</div> <!-- /row -->
			</div> <!-- /span9 -->



{% endblock content %}